*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


#tab1, #tab2, #tab3 {
    background-color: inherit;
    display:inline-block;
    border: none;
    padding: 10px 14px;
    transition: 0.3s;
    font-size: 17px;
    overflow: hidden;
    background-color: #f1f1f1;

    

  }
  
  #tab1:hover, #tab2:hover, #tab3:hover {
    background-color: #ddd;
    
  }

  
  #tab1Content, #tab2Content, #tab3Content {
     overflow: hidden;
     width: 500px;
     height: 100px;
      border: 1px solid  #ccc;;
     border-radius: 10px; 
     display: none;
      padding: 6px 12px; 

   

   
  }
  
  #tab1Content {
   display: block; 
  }
  
  #tab2Content, #tab3Content {
   display: none; 
  }